<html>
    <body>
        <form action= '/predict' method='POST'>
            Time: <input type='text' name='Time'><br>
            V1_pca: <input type='text' name='V1'><br>
            V2_pca: <input type='text' name='V2'><br>
            V3_pca: <input type='text' name='V3'><br>
            V4_pca: <input type='text' name='V4'><br>
            V5_pca: <input type='text' name='V5'><br>
            V6_pca: <input type='text' name='V6'><br>
            V7_pca: <input type='text' name='V7'><br>
            V8_pca: <input type='text' name='V8'><br>
            V9_pca: <input type='text' name='V9'><br>
            V10_pca: <input type='text' name='V10'><br>
            V11_pca: <input type='text' name='V11'><br>
            V12_pca: <input type='text' name='V12'><br>
            V13_pca: <input type='text' name='V13'><br>
            V14_pca: <input type='text' name='V14'><br>
            V15_pca: <input type='text' name='V15'><br>
            V16_pca: <input type='text' name='V16'><br>
            V17_pca: <input type='text' name='V17'><br>
            V18_pca: <input type='text' name='V18'><br>
            V19_pca: <input type='text' name='V19'><br>
            V20_pca: <input type='text' name='V20'><br>
            V21_pca: <input type='text' name='V21'><br>
            V22_pca: <input type='text' name='V22'><br>
            V23_pca: <input type='text' name='V23'><br>
            V24_pca: <input type='text' name='V24'><br>
            V25_pca: <input type='text' name='V25'><br>
            V26_pca: <input type='text' name='V26'><br>
            V27_pca: <input type='text' name='V27'><br>
            V28_pca: <input type='text' name='V28'><br>
            Amount: <input type='text' name='Amount'><br>
            class: {{result}} <br>
            <input type='submit' value='Predict'>
        </form>
    </body>
</html>